.wrapper{
    border: 1px solid grey;
    margin:15px;
    border-radius: 10px;
    height: 315px;
    overflow-y: auto;

    &_white{
        background-color: #fff;
        color:#000;
    }
}

.content{
    margin:15px;
}

.title{
    background-color: grey;
    display: flex;
    justify-content: space-around;
}

.item{
    display: flex;
    gap:10px;
    cursor: pointer;

    &_atr{
        width: 150px;
    }

    &_age{
        width:80px;
    }
}